@import "../colors";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
    &>img {
        width: 180px;
    }

    .userMenu {
        .avatarWrapper {
            display: flex;
            border-radius: 100%;
    
            img,
            svg {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: inherit;
                cursor: pointer;
            }
        }
        span {
            display: block;
            font-size: 1.1rem;
            font-weight: 700;
            padding: 0.75rem;
        }
    }

}