@import "../colors.scss";

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,.3);
    z-index: 999;
    &.show {
        display: block;
    }

    &.important {
        z-index: 1000;
    }
    
    & > div {
        width: 100%;
        max-width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: white;
        transform: translate(-50%, -50%);
        z-index: 999;
        border-radius: 0.25rem;
        
        & > div {
            padding: .5rem 1.5rem 1.5rem 1.5rem;
            background-color: #fff;
            border-radius: inherit;

            .header {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0.5rem;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    cursor: pointer;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem 1rem;

                :global .group {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    gap: 0.25rem;
                    label {
                        font-size: 0.9rem;
                    }
                    input {
                        width: 100%;
                        height: 2.25rem;
                        padding: 0.15rem 0.5rem;
                        border: 1px solid $primary;
                        border-radius: 0.25rem;
                        &:focus {
                            border: 2px solid $primary;
                        }
                    }
        
                    textarea {
                        resize: none;
                        width: 100%;
                        height: 8rem;
                        border: 1px solid $primary;
                        padding: 0.15rem 0.5rem;
                        border-radius: 0.25rem;
                        font-family: inherit;
                    }
                }

            }
        }
    }
}