.rating {
    position: relative;
    display: inline-flex; 
    text-align: "left";
    .star {
        position: relative;
        cursor: pointer;
        &.cursorDefault { cursor: default }
        .filled {
            position: absolute;
            overflow: hidden;
            z-index: -1;
        }
    }
}