.header {
    background-color: #fae7cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 8px 16px;


    svg {
        width: 150px;
        height: 40px;
    }

}