@import "../../colors.scss";

.container {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: $secondary;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 650px;
        text-align: center;
        gap: 2rem;

        h2 {
            font-size: 3.25rem;
            text-align: center;
            line-height: 1.2;
        }

        .subheading {
            font-size: 1.25rem;
            text-align: center;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem 1.5rem;
            border-radius: 10rem;
            background-color: #fff;
            a {
                font-size: 1.35rem;
                padding: 0.5rem 1.5rem;
            }
        }
    }
}