@import "../../colors";

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5rem 1rem;
    .title {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        h1 {
            font-size: 4.25rem;
            text-align: center;
            line-height: 1.1;
        }
        .info {
            padding: 0.5rem 1.25rem;
            background-color: $primary;
            border-radius: 3rem;
            color: #fff;
            font-size: 1.1rem;
            font-weight: 600;
            font-family: var(--font-serif);
        }

        .subheading {
            font-size: 1.5rem;
            text-align: center;
        }

        a {
            font-size: 1.35rem;
            padding: 0.5rem 1.5rem;
        }
    }
}