@import "../../../colors.scss";

.main {
    display: flex;
    justify-content: center;
    padding: 5rem 0.5rem 8rem 0.5rem;
    .container {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        aside {
            display: flex;
            flex-direction: column;
            flex: 0 1 300px;
            
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0.5rem;
            flex: 1 1 550px;
            gap: 2rem;
        }
    }
}